.sidenav {
    position: fixed;
    height: 100%;
    width: 200px;
    top: 0;
    left: 0;
    background-color: #111111;
    overflow: hidden;
    padding-top: 20px;
    span {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        color: #818181;
        display: block;
        font-size: 14pt;
    }
    .selected {
        color: #f1f1f1;
        cursor: pointer;
    }
}