<form [formGroup]="userForm" class="form">
    <h2>Crear usuario</h2>
    <span>Nombre</span>
    <p><input formControlName='nombre' name="nombre" [(ngModel)]="user.nombre" placeholder="nombre"></p>
    <span>Apellido</span>
    <p><input formControlName='apellido' name="apellido" [(ngModel)]="user.apellido" placeholder="Apellido"></p>
    <span>Edad</span>
    <p><input formControlName='edad' name="edad" [(ngModel)]="user.edad" placeholder="Edad"></p>
    <span>Email</span>
    <p><input formControlName='email' name="email" [(ngModel)]="user.email" placeholder="Email"></p>
   
    <button (click)="update(user)">Guardar</button>
</form>
