<div class="login">
    <div class="heading">
      <h2>Sign in</h2>
      <form [formGroup]="loginForm"  action="#">
  
        <div class="input-group input-group-lg">
          <!-- <span class="input-group-addon"><i class="fa fa-user"></i></span> -->
          <input formControlName='email' type="text" class="form-control" placeholder="Username or email">
            </div>
  
          <div class="input-group input-group-lg">
            <!-- <span class="input-group-addon"><i class="fa fa-lock"></i></span> -->
            <input formControlName='passw' type="password" class="form-control" placeholder="Password">
          </div>
  
          <button type="submit" (click)="into()">Log in</button>
         </form>
           </div>
   </div>
